---
import Section from "../../../Section.astro";
import SectionTitle from "../../../SectionTitle.astro";
---

<Section className="flex flex-col gap-8 pt-12" id="xp">
  <SectionTitle title="home.xp.title" />
</Section>
