apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.name }}
  labels:
    app: {{ .Release.name }}
spec:
  selector:
    matchLabels:
      app: {{ .Release.name }}
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container:  {{ .Release.name }}
      labels:
        app: {{ .Release.name }}
    spec:
      containers:
      - name: {{ .Release.name }}
        image: {{ .Values.image }}
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
          limits:
            cpu: 200m
            memory: 500Mi
        livenessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 5
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 3
          periodSeconds: 10
        ports:
        - containerPort: 80
          name: {{ .Release.name }}
      restartPolicy: Always

