{{- if .Values.nightly.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "portfolio.name.nightly" . }}
  labels:
    app: {{ include "portfolio.name.nightly" . }}
spec:
  selector:
    matchLabels:
      {{- include "portfolio.labels.nightly" . | nindent 6 }}
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container:  {{ include "portfolio.name.nightly" . }}
      labels:
        {{- include "portfolio.labels.nightly" . | nindent 8 }}
    spec:
      containers:
      - name: {{ include "portfolio.name.nightly" . }}
        image: {{ .Values.nightly.image.image }}:{{ .Values.nightly.image.tag }}
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
          limits:
            cpu: 200m
            memory: 500Mi
        livenessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 5
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 3
          periodSeconds: 10
        ports:
        - containerPort: 80
          name: http
      restartPolicy: Always
{{- end }}
