---
import { Image } from "astro:assets";

import pfp from "../../../../assets/pfp.jpeg";

import { getLangFromUrl, useTranslation } from "../../../../config";
import Contacts from "./Contacts.astro";
import FakeTerminal from "./FakeTerminal.astro";

const [language] = getLangFromUrl(Astro.url);
const { t } = useTranslation({ language });
---

<FakeTerminal>
  <hgroup class="flex flex-col gap-8 md:w-[50%]" id="text-group">
    <h1
      class={`
              flex flex-row items-center
              gap-2 text-2xl
            `}
    >
      <span id="preffix">{">"}</span>

      <span id="title-text">
        {t("home.titlecard.title")}
      </span>
    </h1>

    <p class="w-full text-left">
      <span id="preffix">{">"}</span>
      {t("home.titlecard.text")}
    </p>

    <Contacts />

    <span class="flex flex-row items-center">
      <span id="preffix">{">"}</span>

      <a
        class="cursor-pointer pl-2 duration-250 transition-all hover:underline"
        download="leonardo_alvarenga_cv.pdf"
        href={`/documents/CV_${language}.pdf`}
      >
        download ./cv.pdf
      </a>

      <span class="w-2 h-5 bg-green block animate-blink"></span>
    </span>
  </hgroup>

  <div>
    <Image alt="Leo's face" class="w-44 rounded-lg" loading="eager" src={pfp} />
  </div>
</FakeTerminal>
