---
import Section from "../../../Section.astro";
import SkillGrid from "./SkillGrid.astro";
import SkillHeader from "./SkillHeader.astro";
---

<span id="skills"></span>

<Section className="flex flex-col gap-8 pt-12">
  <SkillHeader />

  <SkillGrid />
</Section>

<script lang="js">
  function randInt(max) {
    return Math.floor(Math.random() * max);
  }

  function shuffle() {
    try {
      const skills = document
        .getElementById("skill-list")
        ?.querySelectorAll("li");

      for (const skill of skills) {
        skill.style.order = randInt(skills.length);
      }
    } catch (error) {
      console.warn("Could not shuffle skills...", error);
    }
  }

  function onMount() {
    shuffle();
  }

  onMount();
</script>
