---
import { getLangFromUrl, useTranslation } from "../../../../config";
import SectionTitle from "../../../SectionTitle.astro";

const [language] = getLangFromUrl(Astro.url);
const { t } = useTranslation({ language });
---

<span class="flex flex-row gap-4 group">
  <SectionTitle title="home.skills.title" />

  <button
    class={`
      opacity-0 group-hover:opacity-100
      text-mauve cursor-pointer
      duration-250 transition-all
      hover:opacity-60
    `}
    onclick="shuffle()"
    title={t("commons.shuffle")}
  >
    <i class="fa-solid fa-shuffle"></i>
  </button>
</span>
