---
import { getLangFromUrl, useTranslation } from "../../../../config";

const [language] = getLangFromUrl(Astro.url);
const { t } = useTranslation({ language });
---

<span class="flex flex-row gap-4">
  <h1 class="text-2xl font-bold">{"> ".concat(t("home.skills.title"))}</h1>

  <button
    class="text-mauve cursor-pointer duration-500 transition-all hover:opacity-60"
    onclick="shuffle()"
    title={t("commons.shuffle")}
  >
    <i class="fa-solid fa-shuffle"></i>
  </button>
</span>
