---
import { Icon } from "astro-icon/components";

import { getLangFromUrl, Language } from "../config";
import { LANGUAGE_HINTS, LANGUAGE_LABELS } from "../utils";

const { url } = Astro;
const [current] = getLangFromUrl(url);

const currentLabel = LANGUAGE_LABELS[current];

function getSortedLangs() {
  const filtered = Object.entries(LANGUAGE_LABELS).filter(
    ([key]) => key !== current
  );

  return [[current, currentLabel], ...filtered];
}
---

<div
  class={`
    p-2 bg-crust
    fixed bottom-4 left-4
    border border-mauve
    flex flex-col cursor-pointer
    items-center rounded-lg
  `}
  onclick="toggleLangSelector()"
>
  <span class="flex items-center justify-center w-full hover:text-subtext-0">
    <span
      class="overflow-hidden h-fit w-fit opacity-100 duration-200 transition-all"
      id="lang-selector-title"
    >
      {currentLabel}
    </span>

    <span
      class="overflow-hidden pb-1 h-0 w-0 opacity-0 duration-200 transition-all"
      id="lang-selector-close-btn"
    >
      <Icon name="fa6-solid:xmark" />
    </span>
  </span>

  <div
    class={`
      cursor-pointer
      flex flex-col gap-2
      w-full max-h-0 overflow-hidden
      duration-250 transition-all
    `}
    id="lang-selector-options"
  >
    {
      getSortedLangs().map(([lang, label], i) => (
        <button
          class={`
            ${i === 0 ? "mt-2" : ""}
            border cursor-pointer
            rounded-md px-2 text-center
            hover:border-green hover:text-subtext-0
            ${lang === current ? "border-mauve" : "border-transparent"}
          `}
          data-lang={lang}
          onclick="changeLanguage(this)"
          title={LANGUAGE_HINTS[lang as Language]}
        >
          {label}
        </button>
      ))
    }
  </div>
</div>

<script is:inline src="/scripts/i18n.js"></script>

<script lang="js">
  function toggleLangSelectorList(open = false) {
    const optionList = document.getElementById("lang-selector-options");
    if (!optionList) return;

    const closedClass = "max-h-0";
    const openClass = "max-h-24";

    const { className } = optionList;

    if (open) {
      optionList.className = className.replace(openClass, closedClass);
      return;
    }

    optionList.className = className.replace(closedClass, openClass);
  }

  function toggleLangSelectorTitle(open = false) {
    const closeBtn = document.getElementById("lang-selector-close-btn");
    const title = document.getElementById("lang-selector-title");

    if (!closeBtn || !title) return;

    const closedClass = "h-0 w-0 opacity-0";
    const openClass = "h-fit w-fit opacity-100";

    console.log({ closeBtn });
    const { className: closeBtnClassName } = closeBtn;
    const { className: titleClassName } = title;

    if (open) {
      closeBtn.className = closeBtnClassName.replace(openClass, closedClass);
      title.className = titleClassName.replace(closedClass, openClass);
      return;
    }

    closeBtn.className = closeBtnClassName.replace(closedClass, openClass);
    title.className = titleClassName.replace(openClass, closedClass);
  }

  function toggleLangSelector() {
    const isOpen = window.langSelectorIsOpen;

    toggleLangSelectorList(isOpen);
    toggleLangSelectorTitle(isOpen);

    window.langSelectorIsOpen = !isOpen;
  }

  function initLangSelector() {
    window.langSelectorIsOpen = false;
  }

  function changeLanguage(element) {
    const { lang } = element.dataset;

    toggleLangSelector();
    document.dispatchEvent(new CustomEvent("lang_change", { detail: lang }));
  }

  initLangSelector();
</script>
