---
import { type Technology } from '../utils';

interface Props {
  className?: string;
  enableBorder?: boolean;
  tech: Technology;
}

const { className = "", enableBorder, tech } = Astro.props;
const { color, label } = tech;

---

<span
  class={`
    inline-default text-xs
    ${enableBorder
      ? "px-2 py-1 border"
      : ""}
    rounded-full ${className}
  `}
  style={`border-color: ${color}`}
>
  <span class="inline-flex w-2 h-2 rounded-full" style={`background-color: ${color}`}></span>

  <span>
    {label}
  </span>
</span>

