---
import type { Technology } from "../../../../../data";
import TechnologyBadge from "../../../../TechnologyBadge.astro";

interface Props {
  stack: Technology[];
}

const { stack } = Astro.props;
---

<div class="flex flex-row flex-wrap gap-4 items-center">
  {
    stack.map((tech) => (
      <TechnologyBadge tech={tech} enableBorder />
    ))
  }
</div>
