---
import { Icon } from "astro-icon/components";
import Button from "../../../../Button.astro";

import {
  getAltUrl,
  getLangFromUrl,
  useTranslation,
} from "../../../../../config";

interface Props {
  preview?: string;
  repo?: string;
}

const { props, url } = Astro;
const [language] = getLangFromUrl(url);
const { t } = useTranslation({ language });

const { preview, repo } = props;

const getProjectActionClass = (disabled = false) => {
  const base = "grow-0 px-4 py-2";

  if (disabled) {
  return base.concat(" grow-0 opacity-40 pointer-events-none cursor-not-allowed");
  }

  return base.concat(" grow-0 bg-mantle");
};

const getSafeHref = (href = "/disabled") => {
  if (!href.startsWith("/")) return href;

  return getAltUrl(url, language, href) || "/";
};
---

<div class="flex gap-4 items-center">
  <Button className={getProjectActionClass(!repo?.length)}>
    <a
      class="inline-default"
      href={getSafeHref(repo)}
      target="_blank"
    >
      <span class="group-hover:underline">{t("commons.repository")}</span>
      <span>
        <i class="devicon-github-original text-lg"></i>
      </span>
    </a>
  </Button>

  <Button className={getProjectActionClass(!preview?.length)}>
    <a
      class="inline-default"
      href={getSafeHref(preview)}
      target="_blank"
    >
      <span class="group-hover:underline">{t("commons.preview")}</span>
      <span>
        <Icon name="fa6-solid:arrow-up-right-from-square" />
      </span>
    </a>
  </Button>
</div>
