---
import { Icon } from "astro-icon/components";

import {
  getAltUrl,
  getLangFromUrl,
  useTranslation,
} from "../../../../../config";

interface Props {
  preview?: string;
  repo?: string;
}

const { props, url } = Astro;
const [language] = getLangFromUrl(url);
const { t } = useTranslation({ language });

const { preview, repo } = props;

const getProjectActionClass = (disabled = false) => {
  const base = `
    flex gap-2 items-center
    px-2 py-1 border border-mauve
    rounded-md
  `;

  if (disabled) {
    return base.concat(`
      opacity-40
      pointer-events-none
      cursor-not-allowed
    `);
  }

  return base.concat(`
    duration-250 transition-all
    bg-mantle hover:bg-mauve
    hover:text-crust group
  `);
};

const getSafeHref = (href = "/disabled") => {
  if (!href.startsWith("/")) return href;

  return getAltUrl(url, language, href) || "/";
};
---

<div class="flex gap-4 items-center">
  <a
    class={getProjectActionClass(!repo?.length)}
    href={getSafeHref(repo)}
    target="_blank"
  >
    <span class="group-hover:underline">{t("commons.repository")}</span>
    <span>
      <i class="devicon-github-original text-lg"></i>
    </span>
  </a>

  <a
    class={getProjectActionClass(!preview?.length)}
    href={getSafeHref(preview)}
    target="_blank"
  >
    <span class="group-hover:underline">{t("commons.preview")}</span>
    <span>
      <Icon name="fa6-solid:arrow-up-right-from-square" />
    </span>
  </a>
</div>
