---
import Navbar from "../components/Navbar/Navbar.astro";
import Layout from "./Layout.astro";
import { pageTitleToId } from "../utils";
import LanguageSelector from "../components/LanguageSelector.astro";
import Footer from "../components/Footer.astro";

interface Props {
  className?: string;
  disableFooter?: boolean;
  disableNavbar?: boolean;
  pageTitle?: string;
}

const { className = "", disableFooter, disableNavbar, pageTitle } = Astro.props;

const pageId = pageTitleToId(pageTitle, "content");
---

<Layout pageTitle={pageTitle}>
  {!disableNavbar && <Navbar />}

  <main
    class={`
        flex flex-col gap-4 mx-auto
        ${disableNavbar ? "" : "mt-4 md:mt-8"}
        w-full p-4 pb-10 scroll-smooth
        relative items-center
        font-quicksand ${className}
    `}
    data-pageid={pageId}
    id="page-content"
  >
    <slot />
  </main>

  <LanguageSelector />

  {!disableFooter && <Footer />}
</Layout>

<script is:inline lang="js">
  function handleBefore(event) {
    const originalLoader = event.loader;

    event.loader = async function () {
      console.log("INnnnnnnnnnnnnn");
      await originalLoader();
    };
  }

  document.addEventListener("astro:before-preparation", handleBefore);
</script>
