---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import { DEFAULT_PAGE_TITLE, PAGE_TITLE_PREFFIX } from "../utils";
import { getLangFromUrl, useTranslation } from "../config";

interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;

const [language] = getLangFromUrl(Astro.url);
const { t } = useTranslation({ language });

const title = pageTitle
  ? t(PAGE_TITLE_PREFFIX).concat(t(pageTitle))
  : DEFAULT_PAGE_TITLE;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link
      href="/leoalvarenga.svg"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />

    <link
      href="/leoalvarenga_alt.svg"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <ClientRouter />
  </head>

  <body class="bg-base m-0 pb-12 select-none text-text w-full">
    <slot />
  </body>
</html>
