---
import { PROJECTS } from "../../../../data";
import { getLangFromUrl, useTranslation } from "../../../../config";
import SectionTitle from "../../../SectionTitle.astro";
import ProjectCard from "./ProjectCard/ProjectCard.astro";

const [language] = getLangFromUrl(Astro.url);
const { t } = useTranslation({ language });
---

<section class="w-full flex flex-col gap-4 pt-12" id="projects">
  <SectionTitle title="home.projects.title" />

  <div
    class={`
      flex flex-col gap-8
      items-center px-0 md:px-8 py-4 w-full
    `}
  >
    {PROJECTS.map((project) => <ProjectCard project={project} />)}
  </div>
</section>
