name: Publish Docker Image

on:
  push:
    branches: [ "master", "nightly" ]
  workflow_dispatch: {}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Read version from package.json
        id: pkg
        run: |
          echo "VERSION=v$(jq -r .version package.json)" >> $GITHUB_OUTPUT
          echo "SUFFIX=$(if [[ $GITHUB_REF_NAME = master ]]; then echo ""; else echo $GITHUB_REF_NAME; fi)" >> $GITHUB_OUTPUT

      - name: Install dependencies
        run: npm ci

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/leoalvarenga-dev:latest${{ steps.pkg.outputs.SUFFIX }}
            ghcr.io/${{ github.repository_owner }}/leoalvarenga-dev:${{ github.sha }}${{ steps.pkg.outputs.SUFFIX }}
            ghcr.io/${{ github.repository_owner }}/leoalvarenga-dev:${{ steps.pkg.outputs.VERSION }}${{ steps.pkg.outputs.SUFFIX }}

