name: Publish Docker Image

on:
  push:
    branches: [ "master", "nightly" ]
  workflow_dispatch: {}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Read version from package.json
        id: pkg
        run: |
          STATUS="$GITHUB_REF_NAME"
          VERSION="v$(jq -r .version package.json)$(if [[ $GITHUB_REF_NAME = "master" ]]; then echo ""; else echo "-$GITHUB_REF_NAME"; fi)"

          if [[ $GITHUB_REF_NAME = "master" ]]; then
              STATUS="latest"
          fi

          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          echo "STATUS_TAG=$STATUS" >> $GITHUB_OUTPUT

      - name: Install dependencies
        run: npm ci

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/leoalvarenga-dev:${{ steps.pkg.outputs.STATUS_TAG }}
            ghcr.io/${{ github.repository_owner }}/leoalvarenga-dev:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/leoalvarenga-dev:${{ steps.pkg.outputs.VERSION }}

